# Server Configuration
PORT=3001
NODE_ENV=development

# Database
DATABASE_URL=postgresql://user:password@localhost:5432/stellar_invoices

# Stellar Network
STELLAR_NETWORK=TESTNET
# TESTNET or PUBLIC
STELLAR_HORIZON_URL=https://horizon-testnet.stellar.org
SELLER_PUBLIC_KEY=GXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
SELLER_SECRET_KEY=SXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX


# Frontend URL
FRONTEND_URL=http://localhost:3000

# Transactional Email (Resend)
RESEND_API_KEY=re_...
FROM_EMAIL=quittance@yourdomain.com

